<div class="container mb-5 home">
    <h1 class="text-center pt-5 title">Welcome To Horbit Autos</h1>
    <div class="card mb-3 mt-5" >
      <div class="row g-0">
        <div class="col-md-6 motor">
          <img src="/img/car 4.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Toyota venza  #4,000,000</h5>
            <p class="card-text">The Toyota Venza is a five-passenger mid-size crossover SUV manufactured and marketed by Toyota primarily for the North American market, beginning with its introduction in 2008 and now in its second generation — with a hiatus for model years 2018–2019. The first-generation Venza was based on the XV40 series Camry platform and marketed between 2008 and 2017</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href=""><button class="btn btn-warning">View More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mt-5" >
      <div class="row g-0">
        <div class="col-md-6 motor">
          <img src="/img/car 5.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">lexus  #9,000,000</h5>
            <p class="card-text">Lexus is the luxury vehicle division of the Japanese automaker Toyota Motor Corporation. The Lexus brand is marketed in more than 90 countries and territories worldwide and is Japan's largest-selling make of premium cars</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href=""><button class="btn btn-warning">View More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mt-5" >
      <div class="row g-0">
        <div class="col-md-6 motor">
          <img src="/img/car 6.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">benz  #7,000,000</h5>
            <p class="card-text">Mercedes-Benz, commonly referred to as Mercedes and sometimes as Benz, is a German luxury and commercial vehicle automotive brand established in 1926. Mercedes-Benz AG is headquartered in Stuttgart, Baden-Württemberg, Germany.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href=""><button class="btn btn-warning">View More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mt-5" >
      <div class="row g-0">
        <div class="col-md-6 motor">
          <img src="/img/car 8.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title"> Honda  #4,000,000</h5>
            <p class="card-text">The American Honda Motor Company, Inc. is the North American subsidiary of the Honda Motor Company</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href=""><button class="btn btn-warning">View More</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
