{% extends 'base.html' %}

{%block header %}
{% include 'header.html' %}
{%endblock header%}

{%block carousel %}
{% include 'carousel.html' %}
{%endblock carousel%}

{%block content %}

<div class="container mb-5 home">
    <h1 class="text-center pt-5 title">Welcome To Horbit Autos</h1>
    {%for item in cat %}
    <div class="card mb-3 mt-5">
      <div class="row g-0">
        
        <div class="col-md-6 motor">
          <img
            src="{{item.photo.url}}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">CATEGORY: {{item.Brand}}</h5>
            <p class="card-text"> DESCRIPTION:  {{item.description}}
              
            </p>
            
            <a href=""><button class="btn view_more">View More</button></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    
  {%endblock content%}


  {%block footer %}
{% include 'footer.html' %}
{%endblock footer%}